html{

  background: url(../image/background.jpg) no-repeat center center fixed;
  ~webkit-background-size: cover;
  ~moz-background-size: cover;
  ~o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica Neue", sans-serif;

}

body {
 overflow-x: hidden;
}

h1 {
  font-weight: 100;
  letter-spacing: 3;
  font-size: 35;
}

p {
  letter-spacing: 1;
}
.user-image{
  border-radius: 50%; 
  height: 200px;
  width: 200px;
}

.parent {
  padding: 40px;
  width: 400px; 
  height: 420px; 
  background: gray;
  background:rgba(0,0,0,0.5);
  color: white;  
  margin: 0 auto;
  margin-top : 30px;
  text-align: center;
}

.content1 {
  padding-left: 60px;
  width: 75%; 
  height: 270px; 
  background: gray;
  background:rgba(0,0,0,0.5);
  color: white;  
  margin-right: 0px;
  margin-left:-2%;
  margin-top:10%;
  margin-bottom:1%;
  text-align: left;
  overflow: hidden;

}

#content1 {
  -webkit-clip-path:polygon(0% 100%, 90% 100%,100% 0%,0% 0%);
}

.content2 {
  padding-right: 100px;
  width: 97%; 
  height: 250px; 
  background: gray;
  background:rgba(0,0,0,0.5);
  color: white;  
  text-align: right;
  margin-bottom:5%;
  overflow: hidden;
}


#content2 {
  -webkit-clip-path:polygon(10% 100%, 100% 100%,100% 0%,20% 0%);
}
.button-parent {

  margin: 0 auto;
  margin-top : 60px;
  text-align: center;
}

.btn {

  background:rgba(0,0,0,0.3);
  color: white;  
  font-size: 80%;
  text-align: center;
  text-decoration: none;
  border: solid white;
  padding: 10px 20px;
  margin: 0 auto;
  text-transform: uppercase;
}

.social-link{
  font-size: 30px;
}
.social-link a{
  color: white;
}

.line-break{
  width: 400px;
  border-top: 1px solid white;
}

.skill{

  line-height: 1.8;
  display: inline-block;
  letter-spacing: 78px;
  font-size: 50px;
}

.soft-skill{
  margin-top: -1%;
  line-height: 1.5;
  display: inline-block;
  letter-spacing: 5px;
  font-size: 20px;
}